[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
flask-jwt-extended = "*"
peewee = "*"
pydantic = "*"

[requires]
python_version = "3.7"
